{% extends "base.html" %}

{% block title %}About | Portfolio{% endblock %}

{% block content %}
<h2 class="mb-4">About Me</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Background</h3>
        <p>
            I remember watching The Social Dilemma on Netflix—it was all about how platforms keep us hooked. But while most people focused on the addictive nature of social media, I was more fascinated by the tech behind it. The way data was being used to drive recommendations and engagement blew my mind. That’s what got me interested in data.
<br>
            <br>I started as a Data Engineer, working with large-scale data processing, building ETL pipelines, and optimizing data flow for better efficiency. Along the way, I also got into data analysis and built dashboards to derive insights, helping teams make better decisions. But over time, I realized my role was mostly about handling the initial stages of data—moving it, transforming it, and storing it. I wanted to go beyond that. I wanted to understand how data could be used to make predictions, drive decisions, and power AI-driven systems.
<br>
            <br>That’s when I decided to dive deeper and pursue my Master’s in Data Science. During my studies, I worked on projects involving machine learning, natural language processing, transformers, and large language models (LLMs). Learning how AI interprets and generates language, how models like GPT and BERT work, and how data science can be applied in real-world scenarios was a game-changer for me.
<br>
            <br>Now, with experience in both data engineering and data science, I see the bigger picture—how raw data transforms into meaningful insights and AI-driven solutions. And that’s exactly what keeps me passionate about this field.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Skills</h3>
        <div class="mb-4">
            <h4>Expertise Areas</h4>
            <span class="badge bg-primary me-2 mb-2">Data Engineering</span>
            <span class="badge bg-primary me-2 mb-2"> Data Analytics</span>
            <span class="badge bg-primary me-2 mb-2">Machine Learning</span>
            <span class="badge bg-primary me-2 mb-2">Artificial Intelligence</span>
        </div>
        <div class="mb-4">
            <h4>Frameworks & Tools</h4>
            <span class="badge bg-primary me-2 mb-2">Data Engineering</span>
            <p>Expertise in building and maintaining scalable data infrastructure and pipelines to enable efficient data processing and analysis.</p>
            <span class="badge bg-secondary me-2 mb-2">ETL Pipelines Design and Development</span>
            <span class="badge bg-secondary me-2 mb-2">Python (Pandas, NumPy, PySpark)</span>
            <span class="badge bg-secondary me-2 mb-2">Apache - (Spark, Hadoop, Kafka, Airflow)</span>
            <span class="badge bg-secondary me-2 mb-2">Cloud - AWS(EMR, Glue, S3, Redshift, Lambda, Cloudwatch), Azure(Data Factory, Confluent)</span>
            <span class="badge bg-secondary me-2 mb-2">SQL & NoSQL Databases  - (SQL Server, PostgreSQL, MongoDB, DynamoDB, Neo4j, FAISS, Elasticsearch)</span>

            <br>

            <span class="badge bg-primary me-2 mb-2">Data Analytics</span>
            <p>Proficient in extracting insights from data, performing statistical analysis, and communicating findings to drive informed decision-making.</p>
            <span class="badge bg-secondary me-2 mb-2">DOMO BI</span>
            <span class="badge bg-secondary me-2 mb-2">Power BI</span>
            <span class="badge bg-secondary me-2 mb-2">Tableau</span>
            <span class="badge bg-secondary me-2 mb-2">Libraries(matplotlib, seaborn, plotly)</span>

<br>
            <span class="badge bg-primary me-2 mb-2">Machine Learning & Artificial Intelligence</span>
            <p>Expertise in AI model development, fine-tuning LLMs, and building intelligent retrieval systems.</p>
            <span class="badge bg-secondary me-2 mb-2">Machine Learning(Scikit-learn, TensorFlow, PyTorch</span>
            <span class="badge bg-secondary me-2 mb-2">Retrieval-Augmented Generation (RAG) & AI Agents</span>
            <span class="badge bg-secondary me-2 mb-2">Deep Learning - Neural Networks(RNN, CNN, KNN)</span>
            <span class="badge bg-secondary me-2 mb-2">Transformers & LLMs (GPT, BERT, Mistral, ChatGPT-4, Mistral AI, Gemini, Llama)</span>
            <span class="badge bg-secondary me-2 mb-2">Model Fine-Tuning & Optimization - LoRA, QLoRA, vllm</span>
            <span class="badge bg-secondary me-2 mb-2">Multi-Model AI (CLip, D-ID, CLIP)</span>
            <span class="badge bg-secondary me-2 mb-2">Cloud - Azure(AI Search, AI Foundry, OpenAI Services, Storage), AWS (SageMaker)</span>
        </div>
    </div>
</div>
{% endblock %}
