{% extends "base.html" %}

{% block title %}Experience | Portfolio{% endblock %}

{% block content %}
<h2 class="mb-4">Experience</h2>

<div class="timeline">
    <div class="timeline-item">
        <h3>AI Programmer (Volunteer)</h3>
        <p class="text-muted">Acts4Unity Foundation | Feb 2025 - Present | Palo Alto, CA, USA</p>
        <ul>
            <li>Developing a multi-modal AI video agent for mental health support using D-ID, Gemini LLM, and Wav2Vec.
            <li>Implemented facial expression analysis and micro-expression detection for emotional intelligence. </li>
            <li> Integrated secure databases to track emotional analytics and improve conversational AI capabilities.</li>
        </ul>
    </div>

    <div class="timeline-item">
        <h3>Data Science Intern</h3>
        <p class="text-muted">Tricon Infotech LLC | May 2024 - Jul 2024 | Hoboken, NJ, USA</p>
        <ul>
            <li>Built an AI-driven educational content tagging system, automating classification with 95% accuracy using GPT and Neo4j.</li>
            <li>Developed NLP pipelines using BERT embeddings integrated into a knowledge graph, enhancing content retrieval by 100%.</li>
            <li>Created a Gemini-powered chatbot translating natural language into Cypher, improving query response time by 70%</li>
            <li>Collaborated closely with cross-functional stakeholders and engineering teams, refining algorithms based on real-time feedback.</li>
        </ul>
    </div>

    <div class="timeline-item">
        <h3>Professional development</h3>
        <p class="text-muted">Career Break| Aug 2023 - Dec 2024 | Tucson, AZ, USA</p>
        <ul>
        </ul>
    </div>

    <div class="timeline-item">
        <h3>Data Engineer (Contract)</h3>
        <p class="text-muted">HealthEdge| Jan 2023 - Jun 2023 | Alexandria, VA, USA</p>
        <ul>
            <li>Engineered HIPAA-compliant real-time FHIR/HL7 data pipelines, increasing processing efficiency by 90%.</li>
            <li>Automated SQL stored procedures handling 1M+ transactions weekly, reducing data latency significantly.</li>
            <li>Designed scalable streaming solutions with Azure, Kafka; enhanced issue detection with DataDog, reducing downtime by 40%.</li>
            <li>Integrated unit tests and automated deployments, enhancing pipeline reliability and production stability.</li>

        </ul>
    </div>

     <div class="timeline-item">
        <h3>Data Engineer (Contract)</h3>
        <p class="text-muted">Informa | Apr 2022 - Jan 2023 | New York, NY, USA</p>
        <ul>
            <li>Built AWS-based Spark ETL pipelines, integrating data from 50+ global events into DOMO BI with 100% validation accuracy.</li>
            <li>Created governance dashboards resolving critical data leakage, ensuring accurate and reliable reporting.</li>
            <li>Led migration of 10M+ records from DocumentDB to PostgreSQL, tripling performance and reducing costs by 25%</li>
            <li>Automated real-time data quality alerts via Microsoft Teams integration, reducing resolution time by 99%.</li>
            <li>Built AI-driven recommendation systems for personalized notifications, increasing user engagement by 40%.</li>
        </ul>
    </div>

    <div class="timeline-item">
        <h3>Associate Software Engineer</h3>
        <p class="text-muted">Tricon Infotech Pvt Ltd | Apr 2022 - Jun 2023</p>
        <ul>
            <li>Worked as a Data Engineer on client projects for Informa Markets and HealthEdge, delivering scalable data solutions. Collaborated with cross-functional teams to build, optimize, and maintain data pipelines, ensuring efficient data processing and analytics.</li>
        </ul>
    </div>

    <div class="timeline-item">
        <h3>Business Analyst and Operations Support</h3>
        <p class="text-muted">Santhoshi Enterprises(Family Group) | Jan 2019 - Mar 2022 | Hyderabad, TG, India</p>
        <ul>
            <li>Analyzed sales data and customer behaviors, leading to the launch of a second store, increasing revenue by 25%. </li>
            <li>Designed inventory management systems, reducing stock shortages by 30% and improving availability to 95%. </li>
            <li>Collaborated with procurement and management teams, streamlining operations and enhancing customer satisfaction. </li>
        </ul>
    </div>

</div>
{% endblock %}
