{% extends "base.html" %}

{% block title %}Experience | Portfolio{% endblock %}

{% block content %}
<h2 class="mb-4">Experience</h2>

<div class="timeline">
    <div class="timeline-item">
        <h3>AI Programmer (Volunteer)</h3>
        <p class="text-muted">Acts4Unity Foundation | Feb 2025 - Present | Palo Alto, CA, USA</p>
        <ul>
            <li>Develop AI-powered video agents for real-time mental health conversations.</li>
            <li>Build AI-driven emotion and non-verbal cue analysis pipelines.</li>
            <li>Implement a scalable vector databases for large-scale video content analysis.</li>
            <li>Optimize data streaming and backend APIs for real-time insights.</li>

        </ul>
    </div>

    <div class="timeline-item">
        <h3>Data Science Intern</h3>
        <p class="text-muted">Tricon Infotech LLC | May 2024 - Jul 2024 | Hoboken, NJ, USA</p>
        <ul>
            <li>Fine-tuned Azure GPT-Turbo for content tagging, achieving 90% accuracy.</li>
                <li>Developed Retrieval-Augmented Generation (RAG) system using Neo4j and graph ranking.</li>
                <li>Benchmarked 5+ LLMs, optimizing cost by 40% and improving accuracy by 60%.</li>
                <li>Implemented self-correcting feedback loops in AI models for real-time improvements.</li>

        </ul>
    </div>

    <div class="timeline-item">
        <h3>Data Engineer</h3>
        <p class="text-muted">HealthEdge| Jan 2023 - Jul 2023 | Burlington, MA, USA</p>
        <ul>
            <li>Developed HIPAA-compliant FHIR/HL7 ETL pipelines using microservices.</li>
            <li>Boosted SQL query efficiency, reducing processing time by 30% for 1M+ transactions.</li>
            <li>Built real-time data streaming solutions using Confluent Kafka and RabbitMQ.</li>
            <li>Integrated unit testing into CI/CD pipelines, achieving 92% test coverage.</li>

        </ul>
    </div>

     <div class="timeline-item">
        <h3>Data Engineer</h3>
        <p class="text-muted">Informa Markets | Aug 2022 - Jan 2023 | London, England, UK</p>
        <ul>
             <li>Developed Spark-based ETL pipelines integrating 50+ global events into DOMO BI.</li>
                <li>Resolved AWS data governance issues, improving data quality by 100%.</li>
                <li>Led migration of 10+ databases from DocumentDB to PostgreSQL, ensuring data consistency.</li>
                <li>Built AI-driven recommendation systems for personalized notifications, increasing user engagement by 40%.</li>
        </ul>
    </div>

    <div class="timeline-item">
        <h3>Intern</h3>
        <p class="text-muted">Tricon Infotech Pvt Ltd | Apr 2022 - Jul 2022 | Bangalore, KA, India</p>
        <ul>
            <li>Automated HR workflows entirely by integrating employee portfolios into PayWheel, saving over 10+ hours/month.</li>
            <li>Developed Power BI dashboards for enterprise data, enhancing strategic decision-making.</li>
            <li>Utilized DAX to enhance data models, improving performance metrics and enabling deeper financial analysis.</li>
            <li>Participated in Agile Sprint Demos, presenting completed work and gathering feedback from stakeholders.</li>
        </ul>
    </div>

    <div class="timeline-item">
        <h3>Data Analytics Engineer</h3>
        <p class="text-muted">Medistar Enterprises | Jan 2020 - Mar 2022 | Hyderabad, TG, India</p>
        <ul>
            <li>Optimized financial planning and cost analysis for outsourced mask production, driving a 35% market expansion. </li>
            <li>Conducted financial modelling & profitability analysis, driving to ₹15M revenue growth through B2B partnerships. </li>
            <li>Developed financial dashboards to track expenditures, revenue, and budget variances for decision-making. </li>
            <li>Monitored financial transactions and reconciled expenses, ensuring accurate reporting and compliance.</li>
        </ul>
    </div>

</div>
{% endblock %}
