{% extends "base.html" %}

{% block title %}Home | Portfolio{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <!--<img src="pic.jpg" alt="Profile Picture" class="profile-image mb-4">-->
    <h1 class="display-4">Likith Kumar Dundigalla</h1>
    <p class="lead">Data Engineer | AI/ML Engineer | Open Source Enthusiast </p>
    <div class="mt-4">
        <p class="fs-5">
            Passionate about creating elegant solutions to complex problems. 
            Specialized in data driven solutions with 3+ years of experience building
            scalable applications using modern technologies.
        </p>
    </div>
</div>
{% endblock %}
