{% extends "base.html" %}

{% block title %}Projects | Portfolio{% endblock %}

{% block content %}
<h2 class="mb-4">Projects</h2>

<div class="row g-4">
    <div class="col-md-6">
        <div class="card project-card h-100">
            <div class="card-body">
                <h3 class="card-title">Restaurant Chatbot | MenuData.ai</h3>
                <p class="card-text">A restaurant recommendation engine built on San Francisco based restaurant data with live data from wikipedia and newapi.</p>
                <div class="mb-3">
                    <span class="badge bg-primary me-2">Python</span>
                    <span class="badge bg-primary me-2">FAISS</span>
                    <span class="badge bg-primary me-2">LLM(Mistral AI)</span>
                    <span class="badge bg-primary me-2">SentenceTransformer(all-MiniLM-L6-v2)</span>
                </div>
                <a href="https://menudata-likithkumardundigalla.streamlit.app/" class="btn btn-outline-primary">
                    <i class="fas fa-robot"></i>Chatbot
                </a>
                <a href="https://github.com/LikithKumarDundigalla/MenuData" class="btn btn-outline-primary">
                    <i class="fab fa-github me-2"></i>View on GitHub
                </a>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card project-card h-100">
            <div class="card-body">
                <h3 class="card-title">Human or ChatGPT Generated Content?</h3>
                <p class="card-text">This project implements multiple NLP-based classification techniques to distinguish between human-written and ChatGPT-generated text.</p>
                <div class="mb-3">
                    <span class="badge bg-primary me-2">nltk</span>
                    <span class="badge bg-primary me-2">gensim</span>
                    <span class="badge bg-primary me-2">scikit-learn</span>
                    <span class="badge bg-primary me-2">matplotlib</span>
                    <span class="badge bg-primary me-2">seaborn</span>
                </div>
                <a href="https://github.com/LikithKumarDundigalla/Distinguishing-Between-Human-Generated-and-ChatGPT-generated-content" class="btn btn-outline-primary">
                    <i class="fab fa-github me-2"></i>View on GitHub
                </a>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card project-card h-100">
            <div class="card-body">
                <h3 class="card-title">Multi-label Emotion Detection </h3>
                <p class="card-text">This project implements multiple NLP-based classification techniques to predict emotions from text data, identifying sentiments such as admiration, amusement, gratitude, love, pride, relief, and remorse.</p>
                <div class="mb-3">
                    <span class="badge bg-primary me-2">transformers</span>
                    <span class="badge bg-primary me-2">tensorflow </span>
                    <span class="badge bg-primary me-2">pandas </span>
                    <span class="badge bg-primary me-2">numpy</span>
                </div>
                <a href="https://github.com/LikithKumarDundigalla/NN_Project" class="btn btn-outline-primary">
                    <i class="fab fa-github me-2"></i>View on GitHub
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
